apiVersion: v1
kind: Service
metadata:
  name: #{ bootstrap_ai.dataexporter.fullname }#
  namespace: #{ bootstrap_ai.namespace }#

spec:
  type: #{ bootstrap_ai.dataexporter.service.type }#
  ports:
    - port: #{ bootstrap_ai.dataexporter.service.port }#
      targetPort: #{ bootstrap_ai.dataexporter.service.port }#
      protocol: TCP
      name: tcp-8080

