---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ai-python-results
  namespace: #{ bootstrap_ai.namespace }#
spec:
  storageClassName: longhorn
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 20Gi
