apiVersion: v1
kind: Service
metadata:
  name: #{ bootstrap_ai.sqlserver.fullname }#
  namespace: #{ bootstrap_ai.namespace }#
  labels:
    app: #{ bootstrap_ai.sqlserver.name }#
spec:
  type: LoadBalancer
  ports:
    - port: 1433
      targetPort: 1433
      protocol: TCP
  selector:
    app: #{ bootstrap_ai.sqlserver.name }#
