apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mssql-data
  namespace: #{ bootstrap_ai.namespace }#
spec:
  storageClassName: longhorn
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi
