apiVersion: v1
kind: Secret
metadata:
  name: sql
  namespace: "ai"
type: Opaque
stringData:
  SQL_USERNAME: sa
  SQL_PASSWORD: Aveve2008
---
apiVersion: v1
kind: Secret
metadata:
  name: redis
  namespace: "ai"
type: Opaque
stringData:
  redis-password: Aveve2008
