apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: sprinkler-service-ingress
  namespace: home
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-staging
    external-dns.alpha.kubernetes.io/target: "external.#{ bootstrap_cloudflare.domain }#"
    #nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  ingressClassName: external
  rules:
  - host: sprinkler.gitlab.be
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: sprinkler-service
            port:
              name: http


