---
fullnameOverride: internal-dns
provider: pihole
registry: noop
extraArgs:
  - --events
  - --ignore-ingress-tls-spec
  - --ingress-class=internal
  - --pihole-api-version=6
  # IMPORTANT: If you have records that you manage manually in Pi-hole, set
  # the policy to upsert-only so they do not get deleted.
  #- --policy=upsert-only
  - --pihole-server=http://pihole-web.network.svc.cluster.local
  - --pihole-password=#{ bootstrap_pihole.admin_secret }#
policy: upsert-only
sources: ["crd", "ingress"]
txtPrefix: k8s.
txtOwnerId: default
domainFilters: ["#{ bootstrap_cloudflare.domain }#"]
serviceMonitor:
  enabled: true
podAnnotations:
  secret.reloader.stakater.com/reload: internal-dns-secret
image:
  repository: gcr.io/k8s-staging-external-dns/external-dns
  tag: "v20250510-v0.16.1-151-g2f165e87"
