---
apiVersion: v1
kind: Secret
metadata:
  name: #{ bootstrap_ai.redis.fullname | default('redis') }#-auth
  namespace: #{ bootstrap_ai.namespace | default('ai') }#
type: Opaque
stringData:
  redis-password: Aveve2008
