#% if ((not bootstrap_bgp.enabled) and (not bootstrap_feature_gates.dual_stack_ipv4_first)) %#
---
# https://docs.cilium.io/en/latest/network/l2-announcements
apiVersion: cilium.io/v2alpha1
kind: CiliumL2AnnouncementPolicy
metadata:
  name: l2-policy
spec:
  loadBalancerIPs: true
  externalIPs: true

  # NOTE: interfaces might need to be set if you have more than one active NIC on your hosts
  interfaces:
     - ^end+
  #   - ^eth[0-9]+
  nodeSelector:
    matchLabels:
      kubernetes.io/os: linux
---
apiVersion: cilium.io/v2alpha1
kind: CiliumLoadBalancerIPPool
metadata:
  name: l2-pool
spec:
  #allowFirstLastIPs: "Yes"
  allowFirstLastIPs: "No"
  blocks:
    #- cidr: "#{ bootstrap_node_network }#"
    - start: "#{ bootstrap_node_network_2.start }#"
      stop: "#{ bootstrap_node_network_2.end }#"
#% endif %#
