apiVersion: viaduct.ai/v1
kind: ksops
metadata:
  name: schedulingservice-secret-generator
  annotations:
    config.kubernetes.io/function: |
      exec:
        path: ksops
files:
  - ./templates/secrets.sops.yaml
