apiVersion: v1
kind: Endpoints
metadata:
  name: unifi-service
  namespace: home
subsets:
- addresses:
  - ip: #{ bootstrap_unifi.host }#
  ports:
  - port: #{ bootstrap_unifi.port }#
    name: http
    protocol: TCP
