---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: immich
  namespace: argo-system
  annotations:
    argocd.argoproj.io/sync-wave: '0'
spec:
  project: home-kubernetes
  sources:
    - repoURL: https://immich-app.github.io/immich-charts
      chart: immich
      targetRevision: "0.9.0"
      helm:
        releaseName: immich
        valueFiles:
          - $repo/kubernetes/apps/home/immich/values.yaml
    - repoURL: https://cloudnative-pg.github.io/charts
      chart: cluster
      alias: cpng-cluster
      targetRevision: "0.2.0"
      helm:
        releaseName: cluster
        valueFiles:
          - $repo/kubernetes/apps/home/immich/values.yaml


    - repoURL: #{ bootstrap_github_address }#
      path: kubernetes/apps/home/immich
      targetRevision: #{ bootstrap_github_branch|default('main', true) }#
  destination:
    name: in-cluster
    namespace: network
  syncPolicy:
    automated:
      allowEmpty: true
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
