apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: #{ bootstrap_ai.redis.fullname | default('redis') }#-data
  namespace: #{ bootstrap_ai.namespace | default('ai') }#
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: 5Gi
