apiVersion: v1
kind: Service
metadata:
  name: #{ bootstrap_ai.home_model_trainer.fullname }#
  namespace: #{ bootstrap_ai.namespace }#
spec:
  type: #{ bootstrap_ai.home_model_trainer.service.type}#
  ports:
    - port: #{ bootstrap_ai.home_model_trainer.service.port}#
      targetPort: #{ bootstrap_ai.home_model_trainer.service.port}#
      protocol: TCP
      name: tcp-8080

